/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
:root { 
	--main-color : #1D6154;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 130px ;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


/* AJOUT BARRRE FILTRE*/

.filter_bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
}

.filter {
	display: flex;
	background-color: white;
	border: 1px solid var(--main-color);
	border-radius: 60px;
	font-family: 'syne', sans-serif;
	font-size:  16px;
	font-weight: 700;
	text-align: center;
	color: var(--main-color);
	padding: 9px 30px;

}

/* AU SURVOL/CLICK*/ 

.filter:hover{
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
}



.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery p { 
	margin-top: 5px;
}

.gallery img {
	width: 100%;

}

figcaption {
	margin-top: 5px;
}


#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* PAGE LOGIN*/



.loginbody {
	width: 100%;

}

.login a {
   text-decoration: none;
}

.loginbackground {
	background-color: 
	#FFFEF8;
}

.logintitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.loginform {
    display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.loginform label {
    margin-bottom: 10px;
    width: 100%; 
}

.loginmail,.loginpassword  {
	width: 379px;
	height: 51px;
	margin-bottom: 35px ;
	border-color: transparent;
	box-shadow: 0px 4px 14px 0px #00000017;
	
}

.loginform form {
	display: flex;
	flex-direction: column;
	margin-top: 37px;
	flex-wrap: wrap;
	
	
}

.loginsubmit {
	width: 179px;
	height: 36px;
	border-color: transparent;
	border-radius: 60px;

}

.logout a {
    color:#00000017; 
    text-decoration: none;
}

.logout a:hover {
    color: #B1663C; 
}

.login a {
	text-decoration: none;
	color: black; /* Couleur par défaut */
 }
 
 .login a:hover {
	color: #B1663C; /* Couleur au survol */
 }


.missingpassword {
	display: flex;
	justify-content: center;
}

.missingpassword a {
	color: black;
}

.bodylogin {
	width: 100%;
}

.footerlogin {
	height: 60px;
}

#welcome-message {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#welcome-message p {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

#welcome-message i {
	color: white; 
	padding:5px;
}

.admin-link {
    font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
    text-decoration: none;
    color: black; /* Couleur du texte */
    margin-left: 10px; /* Marge à gauche pour l'espace */
	position: relative;
	top: -4px;
	left: 5px;
	
}

.admin-link i {
    color: black; /* Couleur de l'icône */
    margin-right: 5px; /* Marge à droite de l'icône */
}

.admin-mode {
    margin-bottom: 20px; /* Ajoutez la marge en dessous du titre */
}


/* Style pour la classe "admin-mode" */
#portfolio h2.admin-mode {
    margin-bottom: 90px; /* Valeur ajustée dynamiquement par JavaScript */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 630px; 
    height: 688px; 
    gap: 40px;
}

#close-modal {
    cursor: pointer;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.modal-wrapper h2 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 26px;
}

#modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes égales */
    gap: 20px; /* Espacement entre les images */
    justify-items: center; /* Centrer les images horizontalement dans chaque cellule */
    align-items: center; /* Centrer les images verticalement dans chaque cellule */
    max-width: 550px; /* Largeur maximale pour 5 images par ligne */
}

#modal-gallery img {
    width: 76.86px; /* Largeur spécifiée depuis Figma */
    height: 102.57px; /* Hauteur spécifiée depuis Figma */
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
}

hr {
    margin-top: 20px; /* Espacement par rapport au contenu précédent */
    width: 68%; /* Largeur de la ligne horizontale sur toute la largeur */
    border: none; /* Pas de bordure */
    border-top: 1px solid #ccc; /* Bordure supérieure solide */
}

.addphoto {
    background-color: #1D6154;
    color: white;
    border-radius: 60px;
    border-color: #1D6154;
    padding: 10px 60px; 
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    text-align: center;
    cursor: pointer; /* Curseur pointeur au survol */
}

.addphoto:hover {
    background-color: #165040; /* Couleur de fond au survol */
}

.work-item {
    position: relative; /* Pour positionner l'icône de suppression correctement */
    width: 76.86px;
    height: 102.57px;
    margin-bottom: 10px;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image sans déformer */
}

.delete-icon {
    position: absolute;
    top: 5px; 
    right: 5px; 
    font-size: 10px; 
    background-color: black;
    color: white; 
    border-radius: 2px; 
    padding: 4px; 
    cursor: pointer; 
}

a {
    text-decoration: none; /* Assurez-vous que la décoration de texte est correcte */
    outline: none; /* Supprime l'outline (mais assurez-vous de gérer l'accessibilité) */
}

/* Pour les boutons */
button {
    border: none; /* Supprime la bordure */
    outline: none; /* Supprime l'outline (mais assurez-vous de gérer l'accessibilité) */
}

/* Styles spécifiques pour la modale d'ajout de photo */
#modal-add-photo.hidden {
    display: none; /* Cacher par défaut */
}

#modal-add-photo .modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 630px; /* Ajustez la largeur selon vos besoins */
    gap: 20px;
}

#modal-add-photo h3 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px; /* Ajustez l'espacement en bas si nécessaire */
}

#add-photo-form {
    width: 100%;
}

#add-photo-form label {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}

#add-photo-form input,
#add-photo-form select {
    width: calc(100% - 20px); /* Ajustez la largeur en tenant compte des marges */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Espacement entre les éléments du formulaire */
}

#add-photo-form button[type="submit"] {
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

#add-photo-form button[type="submit"]:hover {
    background-color: #165040;
}